@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-mono;


  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
  --color-enfasis: var(--color-enfasis-light);
}

.dark {
  --color-primary: var(--color-primary-dark);
  --color-secondary: var(--color-secondary-dark);
  --color-enfasis: var(--color-enfasis-dark);
}

.light {
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
  --color-enfasis: var(--color-enfasis-light);
}
